@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #root {
    @apply min-h-screen bg-cyan-50
  }

  .limit-size {
    @apply max-w-6xl mx-auto
  }

  .link {
    @apply text-lg hover:text-purple-500 duration-300
  }

  .button {
    @apply border rounded-3xl px-6 py-2 font-medium
  }

  .container {
    @apply p-6 min-w-full
  }
}

.users-table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  border: 1px solid #000;
  padding: 12px;
}

